__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.eggs/
dist/
build/
.env
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
coverage.xml
*.log
docker/wheels/
docker/wheels/
*.tar.gz
